/* Genel Ayarlar */
$primary-color: #007bff;
$secondary-color: #e0e0e0;
$font-color: #333;
$bg-color: #f4f4f9;

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: $font-color;
  background-color: $bg-color;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;

  &:hover {
    color: $font-color;
  }
}

/* Animasyonlar */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Header */
header {
  background: $secondary-color;
  color: $font-color;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      ul {
        display: flex;
        list-style: none;
        gap: 1.5rem;

        li {
          a {
            font-weight: bold;

            &:hover {
              color: darken($font-color, 10%);
            }
          }
        }
      }
    }

    .contact-buttons {
      display: flex;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        img {
          width: 60%;
        }
      }
    }
  }
}

/* Hakkımda Bölümü */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  animation: fadeIn 1s ease-in-out;

  .about-content {
    flex: 1;

    h2 {
      margin-bottom: 1rem;

      &:after {
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        margin: 0.5rem 0;
        animation: scaleUp 0.5s ease-out;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
    }
  }

  .about-image {
    flex: 0 0 200px;
    display: flex;
    justify-content: center;

    .profile-image {
      width: 100%;
      height: auto;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

/* Deneyimler */
#experience {
  line-height: 1.6;
  color: #333;

  margin: 0 auto;
  padding: 20px;
  .timeline {
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

  .timeline::before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #e0e0e0;
    top: 0;
    bottom: 0;
    right: 23.4%;
    margin-left: -1px;
  }

  .experience-card {
    padding: 20px 30px;
    background-color: #f8f8f8;
    position: relative;
    border-radius: 6px;
    width: calc(50% - 40px);
    margin-bottom: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    //   animation: _ngcontent-ng-c3711417685_scaleUp 1.3s ease-in-out;
    // transition: transform 0.3s, box-shadow 0.3s;
  }

  .experience-card:nth-child(even) {
    left: 50%;
  }

  .experience-card:nth-child(odd) {
    left: 0;
  }

  .experience-card:nth-child(even)::after {
    left: -50px;
  }

  .experience-card h2 {
    margin-top: 0;
  }

  .experience-card .date {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 20px;
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .circle-icon {
    position: absolute;
    top: 22px;
    right: -58px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    i {
      font-size: 18px;
      color: #007bff;
    }
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Projeler */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(391px, 1fr));
  gap: 2rem;
  max-width: 870px;
  margin: 0 auto;

  .project-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: scaleUp 1.3s ease-in-out;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px) scale(1.05);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }

    .project-image {
      height: 200px;
      background-size: cover;
      background-position: center;
    }

    .project-content {
      padding: 20px;

      h3 {
        font-size: 1.5rem;
        margin: 0 0 10px;
      }

      p {
        font-size: 1rem;
        color: darken($font-color, 20%);
        margin: 0 0 20px;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .tag {
          background: lighten($primary-color, 40%);
          color: darken($primary-color, 30%);
          font-size: 0.9rem;
          padding: 5px 10px;
          border-radius: 5px;
        }
      }
    }
  }
}

/* Yetenekler */
.skills-flex {
  display: flex;
  gap: 2rem;
  justify-content: center;
  animation: fadeIn 1.5s ease-in-out;

  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;

    .skill-card {
      background: #fff;
      border: 1px solid #ddd;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      font-size: 1rem;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      flex: 1 1 calc(25% - 1rem);
      animation: scaleUp 1s ease-in-out;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

/* İletişim */
.contact {
  padding: 2rem 0;

  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    animation: slideIn 1s ease-out;
  }

  .contact-form {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    animation: fadeIn 1.5s ease-in-out;

    .form-group {
      label {
        font-size: 1rem;
        font-weight: bold;
      }

      input,
      textarea {
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;

        &:focus {
          border-color: darken($font-color, 10%);
          outline: none;
        }
      }
    }

    .submit-button {
      padding: 0.75rem 1.5rem;
      background: $font-color;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s, transform 0.3s;

      &:hover {
        background: $primary-color;
        transform: translateY(-3px);
      }
    }
  }
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background: $secondary-color;
  color: darken($font-color, 20%);
}
