<header>
  <div class="container">
    <nav>
      <ul>
        <li><a href="#about">Hakkımda</a></li>
        <li><a href="#experience">Deneyimler</a></li>
        <li><a href="#projects">Projeler</a></li>
        <li><a href="#skills">Yetenekler</a></li>
        <li><a href="#contact">İletişim</a></li>
      </ul>
    </nav>

    <div class="contact-buttons">
      <a
        (click)="navigateTo('github')"
        target="_blank"
        rel="noopener noreferrer"
        class="p-component"
        aria-label="GitHub"
      >
        <img src="assets/github.svg" alt="GitHub" />
      </a>
      <a (click)="navigateTo('email')" class="p-component" aria-label="E-posta">
        <img src="assets/mail.svg" alt="E-posta" />
      </a>
      <a
        (click)="navigateTo('linkedin')"
        target="_blank"
        rel="noopener noreferrer"
        class="p-component"
        aria-label="LinkedIn"
      >
        <img src="assets/linkedin.svg" alt="LinkedIn" />
      </a>
    </div>
  </div>
</header>

<main class="container">
  <section id="about" class="about">
    <div class="about-content">
      <h2>Hakkımda</h2>
      <p>
        Hello, I'm İlayda. I am a frontend developer with 1 years of experience.
        I work on developing user-focused websites and applications. My core
        expertise is in JavaScript and Angular.
      </p>
    </div>
    <div class="about-image">
      <img
        src="assets/profile.jpg"
        alt="Profil Fotoğrafı"
        class="profile-image"
      />
    </div>
  </section>
  <section id="experience">
    <h2>Deneyimler</h2>
    <div class="experience-timeline">
      <div *ngFor="let exp of experiences" class="experience-item">
        <div class="experience-content">
          <h3>{{ exp.title }}</h3>
          <p>{{ exp.description }}</p>
          <p class="general-detail">
            <em>{{ exp.generalDetail }}</em>
          </p>
          <ul>
            <li *ngFor="let detail of exp.details">{{ detail }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="projects">
    <h2>Projeler</h2>
    <div class="projects-grid">
      <div class="project-card" *ngFor="let project of projects">
        <div
          class="project-image"
          style="
            background-image: url('https://picsum.photos/seed/project1/400/300');
          "
        ></div>
        <div class="project-content">
          <h3>{{ project.name }}</h3>
          <p>
            {{ project.description }}
          </p>
          <a href="#project-1" class="button">Detaylar</a>
        </div>
      </div>
    </div>
  </section>

  <section id="skills">
    <h2>Yetenekler</h2>

    <div class="skills-flex">
      <div class="skills-grid" *ngFor="let skill of skills">
        <div class="skill-card">{{ skill }}</div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact">
    <h2>İletişim</h2>
    <form class="contact-form">
      <div class="form-group">
        <label for="name">Ad Soyad</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Adınızı ve soyadınızı girin"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">E-posta</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="E-posta adresinizi girin"
          required
        />
      </div>
      <div class="form-group">
        <label for="message">Açıklama</label>
        <textarea
          id="message"
          name="message"
          rows="5"
          placeholder="Mesajınızı yazın"
          required
        ></textarea>
      </div>
      <button type="submit" class="submit-button">Gönder</button>
    </form>
  </section>
</main>

<footer>
  <p>
    &copy; <span id="current-year"></span> İlayda Nur Çal Tüm hakları saklıdır.
  </p>
</footer>
